.rewards {
  display : flex;
  flex-direction : row;
  flex-wrap :wrap;
  justify-content:center;
}
.reward {
  flex-basis : 50%;
  width: 3em;
  height: 8.5em;
  background: #474350;
  border-radius: 16px;
  color: white;
  text-align: center;
}

.rewardActive {
  transition: all 1.5s ease-out;
  order:-1;
  flex-basis : 50%;
  border: 2px solid gold;
  width: 3em;
  height: 8.5em;
  background: #252327;
  border-radius: 16px;
  color: gold;
  text-align: center;
}
