.shopBody {
  height: 93vh;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.42 180h-1.415L0 98.995v-2.827L6.167 90 0 83.833V81.004L81.005 0h2.827L90 6.167 96.167 0H98.996L180 81.005v2.827L173.833 90 180 96.167V98.996L98.995 180h-2.827L90 173.833 83.833 180H82.42zm0-1.414L1.413 97.58 8.994 90l-7.58-7.58L82.42 1.413 90 8.994l7.58-7.58 81.006 81.005-7.58 7.58 7.58 7.58-81.005 81.006-7.58-7.58-7.58 7.58zM175.196 0h-25.832c1.033 2.924' fill='%23000000' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.container {
  display: flex;
  flex-direction: column;
}

.xpbar {
  align-self: flex-end;
  background: #17bebb;
  border-radius: 16px;
  text-align: center;
  font-size: 0.8em;
  color: white;
  width: 40%;
  height: 30%;
  top: 81%;
  margin: 5vw;
  padding-bottom: 3px;
}

.xpbarHide {
  margin-bottom: 10px;
}

.choose {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 5vw;
}

.shortfall {
  font-size: 0.9rem;
  text-align: justify;
  width: 30vw;
}

.cost {
  color: #252327;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

.balance {
  color: #252327;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}

.shopContent {
  text-align: justify;
}
