header {
  display: flex;
  height: 7vh;
  padding: 0 3vw;
  justify-content: space-between;
  align-items: center;
  background-color: #474350;
  color: white;
  font-size: 30px;
}

ul {
  display: flex;
  justify-content: space-between;
}

nav {
  height: 100%;
}

#movingMenu {
  width: 100vw;
  height: 50vh;
  position: absolute;
  background-color: #474350;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

#movingMenu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10vw;
}

li {
  font-size: 30px;
  color: white;
}

.noShow {
  transform: translate(-100%);
}

.show {
  transform: translate(0%);
}
