.profileContainer {
  padding: 2vh 5vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
}
.progress-text {
  transform: translateX(15%);
}

.profile-howto {
  background-color: #17bebb;
  padding: 20px;
  border-radius: 10px;
  margin: 10% 0;
}
.profile-break-lines {
  min-height: 2px;
  width: 80%;
  background-color: black;
  border-radius: 1px;
  margin: 0 0 10% 0;
}
.profile-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2%;
}

.profile-sections-container_open,
.profile-sections-container_close {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin: 2% 0;
  width: 100%;
  overflow: hidden;
}

.profile-sections-container_open {
  height: 500px;
  transform: translateY(0) scale(1);
  opacity: 1;
  transition: all 1.2s ease;
}
.profile-sections-container_close {
  opacity: 0.1;
  transform: translateY(-10%) scale(0.1);
  height: 0;
  transition: all 1.2s ease;
}
