.leaflet-container {
  height: calc(var(--vh, 1vh) * 93);
  width: 100vw;
  margin: auto;
}

.leaflet-marker-icon {
  transform: scaleX(-1);
}

.form-search-open,
.form-search-close {
  position: fixed;
  z-index: 1000;
  left: 10%;
  display: flex;
  flex-direction: column;
}

.form-search-lines {
  display: flex;
  margin: 10px;
}

.btn-search {
  background-color: blue;
}

.form-search-open .input-search {
  background-color: whitesmoke;
  width: 100%;
  transition: all 0.8s ease;
}

.form-search-close .input-search {
  background-color: rgba(0, 0, 0, 0);
  width: 0;
  transition: all 0.8s ease;
}

/* .leaflet-routing-container {
  display: none;
} */

.results-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75%;
  max-height: 90vh;
  overflow: auto;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 5000;
  background-color: #fcffebef;
  border-radius: 10px;
  border: solid black 2px;
  box-shadow: -2px -2px 20px 2px black;
  opacity: 1;
  transition: max-height 600ms ease, opacity 800ms ease, width 600ms ease-out;
}

.results-container-close {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  overflow: auto;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 5000;
  background-color: #fcffeb;
  border-radius: 10px;
  border: solid black 2px;
  box-shadow: -2px -2px 20px 2px black;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 600ms ease, opacity 600ms ease 100ms,
    width 600ms ease-out;
}

.results-el {
  border: solid black 1px;
}

.results-choose-btn {
  margin: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  background-color: #fcffeb;
}

.search-control button,
.search-control input,
.leaflet-routing-container,
a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out,
ul.search-control-info-list,
.search-input .search-control-input {
  background-color: #fcffeb;
}
