.leaflet-container {
  height: calc(var(--vh, 1vh) * 93);
  width: 100vw;
  margin: auto;
}

.leaflet-marker-icon {
  transform: scaleX(-1);
}

.search-control button,
.search-control input,
.leaflet-routing-container,
a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out,
ul.search-control-info-list,
.search-input .search-control-input,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #fcffeb;
}

.leaflet-routing-container,
.leaflet-popup-content-wrapper {
  border-radius: 10px;
  border: solid #17bebb 2px;
}

.leaflet-popup-content button {
  border-radius: 7px;
  border: solid #17bebb 2px;
  padding: 0 10px;
  margin: 10px;
}
.leaflet-routing-container:first-child {
  display: none;
}

.validation-btn {
  position: fixed;
  bottom: 65px;
  left: 10px;
  z-index: 500;
  background-color: #fcffeb;
  border-radius: 10px;
  border: solid #17bebb 2px;
  padding: 0 10px;
  margin: 10px;
}
