.logSignButtonsContainer {
  width: 100%;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logSignButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  z-index: 1;
}

.logSignButtons button {
  padding: 2vh 9vw;
  border-radius: 15px;

#signUp {
  color: white;
  background-color: #17bebb;
}

#login {
  color: #17bebb;
  background-color: rgba(255, 255, 255, 0.85);
  border: solid 1px #17bebb;
  margin-left: 20px;
}

#noLogin {
  font-size: 15px;
  color: white;
  text-decoration: underline;
  margin-top: 1vh;
}
