/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: 'MontserratSubrayada';
  src: local('MontserratSubrayada'),
    url(./fonts/MontserratSubrayada-Regular.ttf) format('truetype');
}
