/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

html {
  position: fixed;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

@font-face {
  font-family: 'MontserratSubrayada';
  src: local('MontserratSubrayada'),
    url(./fonts/MontserratSubrayada-Regular.ttf) format('truetype');
}
